.App {
    text-align: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .logo {
    height: 80px;
    margin-bottom: 10px;
  }
  
  h1 {
    margin: 0;
  }